<!DOCTYPE html>
<html>
<head>
  <title>Realty</title>
  <%= stylesheet_link_tag    "application", "scaffolds" %>
  <%= javascript_include_tag  "prototype", "application",  "effects", "controls", "multifile" %>
  <%= csrf_meta_tags %>
  <script src="javascripts/prototype.js" type="text/javascript"></script>
  <script src="javascripts/scriptaculous.js" type="text/javascript"></script>
</head>
<body>

<%= yield %>

</body>
</html>
